/*header component styles*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #ffffff;
  height: 60px;
  padding: 0 30px;
  border-bottom: 1px solid #585858;
}

.header a {
  color: #ffffff;
  margin-right: 20px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.logo {
  color: white;

  text-transform: uppercase;
}

.logo a {
  color: white;
}

@media (max-width: 768px) {
  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }
}
/*header component styles*/
