.tick {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  font-size: 3em;
}
.outer-pack-section {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
@media (max-width: 500px) {
  .outer-pack-section {
    display: grid;
    grid-template-columns: 7fr 1fr;
  }
}
