/*global styles*/

body {
  background-color: black;
  color: #ffffff;
}
.container {
  width: 90%;
  margin: auto;
}
.inner-container {
  width: 95%;
  margin: auto;
}
a:hover {
  cursor: pointer;
}
